body{
    font-family: Roboto, Arial, sans-serif;
}


/*--------------------------------------------Heading   */

header {
    margin: 0;
    padding:0;
}

.heading {
    margin-left: 5px;
    padding: 0;
    background-color: #d9e6f3;
}
.header-text{ 
    font-weight: 800;
    font-size: 2em;
    padding:0;
}

.logo {
    background: url("assets/images/artclub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding:0;
}
/* overriding bootstrap class properties */
.jumbotron {
    padding:1rem;
    margin: 0;
}

/*-------------------------------------------- navigation */
.ui-menu-color-home {
    background-color: #D9005B;
}
.ui-menu-color-activity{
     background-color: rgba(209, 139, 93, 0.322);
}
.ui-menu-color-exhibition{
    /* background-color: #00B945; */
    background-color:  rgba(160, 229, 185, 0.596);
}
.ui-menu-color-joinus{
    background-color: #84E900;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 20px;
    padding: 0;
    margin-right: 2px;
}

.navbar-brand {
        margin-right: 0;
}
/*-------------------------------------------- Index */

.index-image {
    height: 30%;
    object-fit:cover;
    border: 5px;
}

/*-------------------------------------------- Activities */
.activities {
    /*background-color: #FF2C00; */
    background-color:rgba(209, 139, 93, 0.322);
    padding-right: 0;
}

.activity-timeline {
    position: relative;
    border-left: 1px solid;
    padding: 1em 0em 1em 1em;
}

.activity-timeline h4 {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.activity-timeline p {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
}
.activity-timeline:before{
    content: attr(data-date);
    position: absolute;
    display: block;
    left: 2em;
    top: -0.7em;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
.activity-timeline:after {
    width: 15px;
    height:15px;
    display:block;
    position:absolute;
    border-radius: 15px;
    content: '';
    left: -5px;
    top: -0.7em;
    background-color: #0c0c0cfa;
}

.activity-image {
    width: 150px;
    position:absolute;
    object-fit: cover;
}

/*--------------------------------------------Exhibition  */
.exhibition {
    background-color:  rgba(160, 229, 185, 0.596);
}

.exhibition-image {
    object-fit:cover;
    width: 300px;
}

/*--------------------------------------------Form */

.joinusform {
    background-color: #84E900;
    padding: 5px;
}

/*--------------------------------------------Footer   */

footer {
    background-color: #d9e6f3;   
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}