body{
    font-family: Roboto, Arial, sans-serif;
}

/*------------------------------------ Peer Review: Introducing guttering on wide screens (xl)  --------*/
body, nav, footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9E6F3;
}

/*--------------------------------------------Heading   */

header {
    margin: 0;
    padding:0;
}

.heading {
    padding: 0;
    background-color: #d9e6f3;
}
.header-text{ 
    font-weight: 800;
    font-size: 2em;
    padding:0;
    text-align: center;
}
.header-text-sm{ 
    font-weight: 800;
    font-size: 1em;
    padding:0;
    text-align: center;
}

.logo {
    background: url("../images/artclub.jpg"); /*--Peer Review 404 --*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding:0;
}
/*-------------------------------------------- overriding bootstrap class properties */
.container-fluid {
    padding: 0;
}

.jumbotron {
    padding:1rem;
    margin: 0;
    background-color: #D9E6F3;
}

/*-------------------------------------------- navigation */
.ui-menu-color-home {
    background-color: #A0CCC0;  /* Opal */
}
.ui-menu-color-activity{
    /* background-color:#C0D890; */
    background-color: #7ECC84;  /* Mantis */
}
.ui-menu-color-exhibition{
    /* background-color:  #99CC00; */
    background-color: #AAE3C4; /* Magic Mint */
}
.ui-menu-color-joinus{
    background-color: #8DF0BF;  /* Aquamarine */
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 20px;
    padding: 0;
    margin-right: 2px;
}

.navbar-brand {
        margin-right: 0;
        font-size: small;
}

.navbar-toggler {
    padding: .25rem;
}

/*-------------------------------------------- Index */

.index-image {
    height: 30rem;
    object-fit:contain;
    border: 5px;
}

.introduction{
    padding-left: 2rem;
    font-weight:bold;
    color: #fafafa;
    height:200vh;
    background-size: cover;
    background-color: transparent;
    background: url("../images/promo/antonia_ve_day.jpg") fixed transparent no-repeat;
}

.mainslides{
    background-color: #339900;
}
/*-------------------------------------------- Activities */
.activities {
    /*background-color: #FF2C00; */
    background-color: #7ECC84;  /* Mantis */
    /* background-color: #C0D890; */
    padding-right: 0;
    padding-left: 2rem;
}

.activity-list{
    border-left:solid;
}

.activity-timeline {
    position: relative;
    border-left: 1px solid;
    padding: 1em 0em 1em 1em;
}

.activity-timeline h3 {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.activity-timeline p {
    margin: 0;
    padding: 0;
    margin-left: 0.5em;
}
.activity-timeline:before{
    content: attr(data-date);
    position: absolute;
    display: block;
    left: 2em;
    top: -0.7em;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}
.activity-timeline:after {
    width: 15px;
    height:15px;
    display:block;
    position:absolute;
    border-radius: 15px;
    content: '';
    left: -5px;
    top: -0.7em;
    background-color: #0c0c0cfa;
}

/*--overriding bootstrap img-fluid property : */
.img-fluid {
    height:10rem;
}

.activities .img-fluid {
    padding: 5px 0;
}


.activity-image {
    width: 150px;
    position:absolute;
    object-fit: cover;
}

/*--------------------------------------------Exhibition  */
.exhibition {
    padding-left: 2rem;
}

#exhibitionSection {
    /* background-color: #99CC00; */
    background-color: #AAE3C4; /* Magic Mint */
}

.carousel-inner {
    align-content: center;
    text-align: center;
}
.carousel-item{
    margin-right: 0;
    align-self: start;
    
}

.exhibition-image {
    object-fit:contain;
    height:20rem;
    /* padding-left: 33%; */
}

/*--------------------------------------------Form */
.joinus {
    padding-left:2rem;
    padding-right:1rem;
    padding-bottom: 1rem;
    /* background-color: #99CCCC; */
    background-color: #8DF0BF;  /* Aquamarine */
}

.joinusform {
    padding: 5px;
}

/*--------------------------------------------Footer   */

footer {
    background-color: #d9e6f3;   
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    padding-left: 10rem;
    text-align: center;
}