body{
    font-family: Roboto, Arial, sans-serif;
}


/*--------------------------------------------Heading   */

header {
    margin: 0;
    padding:0;
}

.heading {
    margin-left: 5px;
    padding: 0;
}
.header-text{ 
    font-weight: 800;
    font-size: 2em;
    padding:0;
}

.logo {
    background: url("assets/images/artclub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding:0;
}
/* overriding bootstrap class properties */
.jumbotron {
    padding:1rem;
    background-color: #d9e6f3;
}

/* navigation */
.ui-menu-color-home {
 background-color: #FF4C00;
}
.ui-menu-color-activity{
     background-color: #FF9000;
}
.ui-menu-color-exhibition{
    background-color: #0B5FA5;
}
.ui-menu-color-joinus{
    background-color: #00AE68;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

/*
.logo image {
    max-width:1rem;
    max-height: 1rem;
}
*/

/*--------------------------------------------Footer   */

footer {
    background-color: #d9e6f3;   
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}